[Unit]
Description=Node thing

[Service]
ExecStart=/server/node/app_ben/discord-login/server.js
Restart=always
User=nobody
# Note RHEL/Fedora uses 'nobody', Debian/Ubuntu uses 'nogroup'
Group=nogroup
Environment=PATH=/usr/bin:/usr/local/bin
Environment=NODE_ENV=production
WorkingDirectory=/server/node/app_ben/discord-login

[Install]
WantedBy=multi-user.target
